@import url('https://fonts.googleapis.com/css?family=Arvo|Montserrat|Shadows+Into+Light');

$font-family-title: 'Arvo', serif;
$font-family-general: 'Montserrat', sans-serif;
$font-family-secondary: 'Shadows Into Light', cursive;

main, body {
    margin: 0;
    padding: 0;
    font-family: $font-family-general;
}